.search-container{
   padding: 10px;
}

.search-title{
   text-align: center;
   color: #000;
}


.last-search-title{
    font-style: oblique;
    font-weight: bold;
    visibility: hidden;
}

.search-chkbox{
    background-color: #ae2027;
    border-radius: 10px;
}

.search-range-price-form{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ae2027;
}

.radio-button{
    display: flex;
    flex-direction: column;
}

.radio-button-ch{
    margin: 5px;
}

legend {
    display:none;
}

.search-results{
    color:#FFFFFF;
    margin: 10px;
    background-color: #ae2027;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.indiv-dish{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: #000;
    background-color: #fff1f1;
    border: 5px solid #a2191f;
}

.tag-names{
    display: inline-flex;
    margin-right: 5px;
    margin-left: 5px;
    padding: 3px;
}

.rest-name{
    margin:5px;
}

.error-tags{
    color: #f83c02;
    font-size: 25px;
    font-weight: bold;
}

.dish-title{
    font-weight: bold;
}


/* +++++++++++++++ MEDIUM & BIG MEDIAS +++++++++++++++++++ */
@media all and (min-width: 800px) {
.search-chkbox{
    margin: 0 5vw 0 5vw;
} 

.search-results{
    margin: 0 5vw 0 5vw; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.indiv-dish{
    width: 300px;
    margin-bottom: 20px;
}


.search-range-price-form{
    margin: 0 5vw 0 5vw;
}

.radio-button{
    flex-direction: row;
    justify-content: space-evenly;
}

.radio-button-ch {
    white-space: nowrap;
}

}
