@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* +++++++++++++++ SMALL MEDIAS +++++++++++++++++++ */
.div-container{
  display: flex;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Images/b42iYx.png);
}

.div-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px 5vw 20px 5vw;
  background-color: #F8FDE1;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.logo-login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  margin: 0px;
}

#login{
  color: #000;
  text-decoration: none;
}

.copyright{
  font-size: 12px;
  margin: 10px;
  color: #000;
}

.error{
  color: #f83c02;
  font-size: 20px;
  font-weight: bold;
}

.footer-router{ 
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.faq{
  margin: 5px;
  text-justify: auto;
  color: #000;
  font-weight: bold;
}

.about{
  margin: 10px;
  text-justify: auto;
  color: #000;
  font-weight: bold;
}

.welcome{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.button{
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
  color: #FFFFFF;
  background-color: #000;
}

#register , .color{
  color: #000;
}

.username, .password, .restname, .phone{
  margin: 10px;
  padding: 10px;
  color: #000;
}

label{
  margin-right: 10px;
}

input{
  margin-left: 10px;
}

a{
  text-decoration: none;
}

/* +++++++++++++++ MEDIUM & BIG MEDIAS +++++++++++++++++++ */
@media all and (min-width: 600px) {
.div-main-container{
  margin: 20px 15vw 20px 15vw;
}

  .welcome{
    font-size: 25px;
  }

  .button{
    border-radius: 12px;
    font-size: 20px;
    margin: 10px;
  }

  .login-app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    
}