@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.App {
  text-align: center;
  margin: 20px;
  padding: 20px;
  /* background-color: rgb(174,32,39); */
  /* background-color: #FFFACD; */
  background-color: #222629;
  /* color: #61dafb; */
  color: #ffd700;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /* #ae2027 */
}

h1{
  margin: 40px;
  font-size: 35px;
}

h2{
  font-size: 20px;
  color: #ffd700;
  /* color: #57ba98; */
  font-style: italic;
}

img {
  width: 350px;
  height: 250px;
}

nav{
  margin: 40px;
}

.login{
  color: white;
}

main{
  margin: 40px;
}

.footer-router{ 
  margin: 10px;
  color: #ffd700;
  /* color: white; */
}

.copyright{
 font-size: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-tag-list, .dish-tag-list{
  margin-right: 15px;
}

.error{
  color: #f83c02;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
